<header class="app-navbar">
  <div class="navbar-container">
    <span ><img class="navbar-logo" src="favicon.png" alt=""></span>
    <div class="app-logo">Lynkr</div>

    <nav class="nav-links">
      <a class="nav-link" routerLink="/home">Home</a>
      <a class="nav-link" routerLink="/profile">Profile</a>
      <a class="nav-link" routerLink="/friends">Friends</a>
    </nav>

    <div class="user-profile" *ngIf="auth.currentUser() as user">
      <span class="vertical-separator"></span>

      <a class="user-profile" routerLink="profile">
        <span>{{ user.name }}</span>
      </a>
        <img
        class="avatar-circle"
        [src]="user.profilePic || 'default_profile_picture.png'"
        width="30"
        />
        <button (click)="auth.logout()">Logout</button>
    </div>
  </div>
</header>
