<div class="friends-container">
  <nz-tabs
  [(nzSelectedIndex)]="selectedTab"
  (nzSelectedIndexChange)="onTabChange($event)"
>

    <!-- FRIENDS -->
    <nz-tab nzTitle="Friends">
      <nz-list nzItemLayout="horizontal">
        @for (friend of friendService.friends$ | async; track friend) {
          <nz-list-item>
            <nz-list-item-meta
              [nzAvatar]="friendAvatar"
              [nzTitle]="friendTitle"
            ></nz-list-item-meta>
            <ng-template #friendAvatar>
              <nz-avatar
                [nzSrc]="friend.friendProfilePic || 'default_profile_picture.png'"
                nzSize="large"
              ></nz-avatar>
            </ng-template>
            <ng-template #friendTitle>
              <a class="profile-link" (click)="goToChat(friend.friendId, friend.friendName)">
                {{ friend.friendName }}
              </a>
            </ng-template>
            <button
              nz-button
              nzDanger
              nzType="default"
              (click)="removeFriend(friend.friendId)"
              >
              Remove
            </button>
          </nz-list-item>
        }
      </nz-list>
    </nz-tab>

    <!-- PENDING -->
    <nz-tab nzTitle="Pending">
      <nz-list nzItemLayout="horizontal">
        @for (user of friendService.pending$ | async; track user.requesterId) {
          <nz-list-item>
            <nz-list-item-meta
              [nzAvatar]="pendingAvatar"
              [nzTitle]="pendingTitle"
            />
            <ng-template #pendingAvatar>
              <nz-avatar
                [nzSrc]="user.requesterPic || 'default_profile_picture.png'"
                nzSize="large"
              />
            </ng-template>
            <ng-template #pendingTitle>
              <span class="name">{{ user.requesterName }}</span>
            </ng-template>
            <button
              nz-button
              nzType="primary"
              (click)="acceptRequest(user.requesterId)"
              >
              Accept
            </button>
            <button
              nz-button
              nzDanger
              nzType="default"
              (click)="removeFriend(user.requesterId)"
              >
              Decline
            </button>
          </nz-list-item>
        }
      </nz-list>
    </nz-tab>

    <!-- FIND USERS -->
    <nz-tab nzTitle="Find users">
      <div class="search-row">
        <nz-input-group nzSearch [nzAddOnAfter]="searchBtnTpl" class="search-input">
          <input
            nz-input
            [(ngModel)]="searchQuery"
            (ngModelChange)="onQueryChange()"
            (keyup.enter)="onSearch()"
            placeholder="Search by name or email"
          />
        </nz-input-group>

        <ng-template #searchBtnTpl>
          <button
            nz-button
            nzType="primary"
            nzSearch
            (click)="onSearch()"
            [disabled]="!searchQuery.trim()"
            >
            Search
          </button>
        </ng-template>
      </div>

      @if (searchResults().length) {
        <nz-list nzItemLayout="horizontal">
          @for (user of searchResults(); track user) {
            <nz-list-item>
              <nz-list-item-meta
                [nzAvatar]="searchAvatar"
                [nzTitle]="searchTitle"
                [nzDescription]="searchDesc"
              ></nz-list-item-meta>
              <ng-template #searchAvatar>
                <nz-avatar
                  [nzSrc]="user.profilePictureUrl || 'default_profile_picture.png'"
                  nzSize="large"
                ></nz-avatar>
              </ng-template>
              <ng-template #searchTitle>
                <span class="name">{{ user.name }}</span>
              </ng-template>
              <ng-template #searchDesc>
                <span class="email">{{ user.email }}</span>
              </ng-template>
              <button
                nz-button
                nzType="primary"
                [disabled]="user.requested"
                (click)="sendRequest(user.id)"
                >
                {{ user.requested ? 'Requested' : 'Add' }}
              </button>
            </nz-list-item>
          }
        </nz-list>
      }

      @if (searchResults().length === 0 && searchQuery.trim()) {
        <div class="empty">
          No users found.
        </div>
      }
    </nz-tab>

  </nz-tabs>
</div>
