<div class="post-container">
  <div class="user-information">
    <img
      class="profile-picture"
      src="https://placehold.co/500x500"
    />
    <span class="username">Magic Mushroom</span>
  </div>
  <div class="content">
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Praesent leo orci, tempus sit amet fringilla sed, consequat nec turpis.
      Sed vitae massa eget lacus ultrices bibendum.
      Pellentesque habitant morbi tristique senectus et netus et malesuada
      fames ac turpis egestas. Proin rutrum hendrerit ex, vitae sodales
      nibh commodo eget. Phasellus et ornare nulla, eget elementum libero.
      Cras id congue sem.
      Maecenas vehicula porta libero, non ullamcorper nisl dapibus a.
    </div>
    <img
      class="content-picture"
      src="https://placehold.co/600x400"
    />
  </div>
  <div class="likes">
    <span>&lt;3    </span>
    <span>42,5K</span>
  </div>
</div>
