<nz-flex class="full-screen-center" nzJustify="center" nzAlign="center">

  <form nz-form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="login-card-minimal">

    <h2 class="login-title">Sign Up</h2>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your e-mail!">
        <input class="underline-input" type="email" nz-input formControlName="email" placeholder="e-mail" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your name!">
        <input class="underline-input" type="text" nz-input formControlName="name" placeholder="username" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="password-form-item">
      <nz-form-control nzErrorTip="Please input your Password!">
        <input class="underline-input" type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="password-form-item">
      <nz-form-control nzErrorTip="Please confirm your Password!">
        <input class="underline-input" type="password" nz-input formControlName="confirmPassword" placeholder="Confirm password" />
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" class="login-button-minimal" [disabled]="signupForm.invalid">
      Sign up
    </button>

    <span class="register-link">
       <a routerLink="/login">Have an account already? Sign in!</a>
    </span>
  </form>

</nz-flex>
